@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
}

body {
    background-color: var(--page_background_color);
    color: var(--page_font_color);
    font-family: "Ubuntu" !important;
    font-weight: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Loading Indicator */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 4vw;
    background-color: #212121;
    padding: 20px;
    border-radius: 0.8rem;
    text-align: center;
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px var(--online_primary_color);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

/* Header Styles */
.upperHeader {
    background-color: #333333;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    height: 70px;
    padding: 8px 0;
    position: relative;
    z-index: 2;
}

.upperHeaderLogo {
    background: url("../img/logo.png");
    background: url("../img/logo.svg"),
        linear-gradient(transparent, transparent);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.middleHeader {
    background-color: #333333;
    padding: 40px 0px 60.5px 0;
}

.pageDescriptionTitle {
    font-size: 28px;
    line-height: 2;
    font-weight: bold;
}

.pageDescription {
    font-size: 15px;
    line-height: 1.3;
}

.overallStatus {
    background-color: #333333;
    border-radius: 0.8rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    overflow: hidden;
    margin-top: -21px;
}

.overallStatusText > p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.overallStatusIcon {
    padding: 12px;
}

.overallStatusIcon.allOperational {
    background-color: var(--online_primary_color);
}

.overallStatusIcon.partialOutage {
    background-color: var(--not_available_color);
}

.overallStatusIcon.totalOutage {
    background-color: var(--offline_primary_color);
}

.overallStatusText {
    font-size: 20px;
}

/* Main page content styles */
.pageContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.chartOuter {
    background-color: var(--chart_background_color);
    padding: 10px 0 0 0;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    margin-top: 25px;
    height: 405px;
}

.chartContainer {
    height: 395px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.aboveChart {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--service_info_background_color);
}

.belowChart {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
}

/* Response Time */
.aboveChart {
    display: flex;
}

.aboveChartOuter {
    width: fit-content;
    background-color: var(--service_info_accent_color);
    height: 67px;
}

.aboveChartOuter ~ .aboveChartOuter {
    width: fit-content;
    background-color: var(--service_info_accent_color);
    height: 67px;
    margin-left: 3px;
}

.aboveChartInnerItem {
    padding: 8px 10px 0;
}

.serviceNameOuter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceName {
    font-size: 28px;
    padding: 0 10px;
}

.responseTimeNumber {
    font-size: 28px;
    text-align: center;
}

.responseTimeText {
    font-size: 15px;
    text-align: center;
}

.uptimeNumber {
    font-size: 28px;
    text-align: center;
}

.uptimeText {
    font-size: 15px;
    text-align: center;
}

.serviceStatusOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    position: absolute;
    right: 0;
}

.serviceStatusText {
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 0.8rem;
}

.serviceOnline {
    background-color: var(--online_primary_color);
}

.serviceOffline {
    background-color: var(--offline_primary_color);
}

.serviceNotAvailable {
    background-color: var(--not_available_color);
}

/* Below Chart */
.belowChartOuter {
    width: fit-content;
    height: 100%;
}

.lastCheckedOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    float: left;
}

/* Bottom Status Bar Styles */
.bottomStatusBar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #333333;
    padding: 8px 20px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0.8rem 0 0;
}

.bottomStatusBarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 20px;
}

.liveUpdatePing {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background-color: var(--online_primary_color);
    animation: update-ping 1s infinite;
    float: left;
    margin-right: 6px;
}

@keyframes update-ping {
    0% {
        box-shadow: 0 0 0 0px var(--online_primary_color);
    }
    100% {
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
    }
}

@media screen and (max-width: 767px) {
    .chartOuter {
        height: 450px;
    }

    .aboveChart {
        display: block;
        height: auto;
    }

    .serviceStatusOuter {
        display: none;
    }

    .serviceName {
        max-width: 500px !important;
    }

    .serviceNameOuter {
        width: 100%;
        margin-bottom: 3px;
    }

    .responseTimeOuter {
        width: 55% !important;
        float: left;
        margin-left: unset !important;
        margin-right: 3px;
        margin-bottom: 3px;
    }

    .uptimeOuter {
        width: calc(45% - 3px) !important;
        margin-left: unset !important;
        float: right;
    }
}

@media screen and (max-width: 991px) {
    .serviceName {
        max-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    .serviceName {
        max-width: 540px;
    }
}
